.navbar {
  background-color: transparent;
  transition: background-color 0.3s;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  margin-right: 10px;
  color: white;
}

body {
  padding-top: 0px;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to right, #292d3e, #536976);
  color: white;
}

.hero-image {
  height: 1000px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: aliceblue;
}

#fade-text {
  opacity: 0;
  transition: opacity 1.0s ease-in;
}

.main-section {
  margin-bottom: 10px;
  margin-top: 200px;
  padding: 30px;
  text-align: center;
  height: 1000px;
  color: cadetblue;
}

@media (max-width: 768px) {
  .main-section {
    margin-bottom: 10px;
    margin-top: 150px;
    padding: 30px;
    text-align: center;
  }
  .hero-image {
    height: 700px;
  }
}

h1 {
  font-size: 2.5em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

.reveal .slides section {
  margin-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: scroll;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.accordion-button:not(.collapsed) {
  background-color:  #292d3e;
  color: white;
}

.accordion-button {
  background-color:  #292d3e;
  color: white;
}